* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: black;
    list-style: none;
}

nav {
    display: flex;
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    height: 5rem;
    align-items: center;
    justify-content: space-around;
    font-family: Poppins;
    font-weight: medium;
    font-size: 14px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    margin-left: 2rem;
}

nav a {
    color: #000C2D;
}

nav button {
    color: #2F70FE;
    border: 1px solid #2F70FE;
    width: 9.125rem;
    height: 3rem;
    background: none;
    border-width: 1px;
    font-size: 16px;
    cursor: pointer;
}

#hamburger {
    display: none;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
    }
    #hamburger {
        display: flex;
        cursor: pointer;
    }

    #navbar ul {
        background-color: white;
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: space-evenly;
        width: 100vw;
        height: 0vh;
        top: 5rem;
        right: 0px;
        transition: .6s;   
        visibility: hidden;
        overflow-y: hidden;
    }

    #navbar.active ul {
        height: calc(100vh - 5rem);
        visibility: visible;
        overflow-y: auto;
    }

    #navbar li {
        margin-left: 0;
    }

    #navbar li a {
        font-size: 36px;
        line-height: 54px;
    }

    #navbar button {
        font-size: 36px;
        line-height: 54px;
        border: none;
        width: auto;
        height: auto;
    }
}