* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: black;
    list-style: none;
}

#home {
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35.9375rem;
    background-color: #2F70FE;
}

#home img {
    display: none;
}

#home-cima {
    width: 90.13%;
}

#home h2 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 36px;
    line-height: 65px;
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}

#home p {
    font-family: Poppins; 
    color: white;
    line-height: 30px;
    text-align: center;
}

#home button {
    border: none;
    background-color: black;
    color: white;
    font-family: Raleway;
    font-weight: bold;
    line-height: 19px;
    width: 10.375rem;
    height: 3.1875rem;
    margin-top: 1.5625rem;
    cursor: pointer;
}

#features {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-evenly;
    width: 100%;
    height: 50.875rem;
    background-color: #00ff8514;
}

#features h2 {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
}

#container-features {
    width: 62.93%;
    height: 39.625rem;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

#container-features div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-features p {
    color: #000C2D;
    text-align: center;
    line-height: 27px;
    font-family: Poppins;
    margin-top: 1.5rem;
}

#services1 {
    width: 100%;
    height: 37.6875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#services .services-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90.13%;
}

#services h2 {
    text-align: center;
    font-family: Poppins;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #181818;
    margin-bottom: 1.5rem;
}

#services p {
    color: #000C2D;
    line-height: 27px;
    font-family: Poppins;
    text-align: center;
    margin-bottom: 1.5rem;
}

#services .services-container {
    width: 100%;
    height: 41.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#services a {
    color: #2F70FE;
    font-family: Poppins;
    font-weight: medium;
    line-height: 28px;
    display: flex;
}

#footer {
    width: 100%;
    height: 32.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}

#container-footer {
    display: flex;
    flex-direction: column;
    width: 77.07%;
    height: 20.5rem;
    justify-content: space-between;
}

#footer .footer-lados {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#footer ul {
    width: 8.6875rem;
    display: flex;
    flex-direction: column;
}

#footer h3 {
    font-family: Poppins;
    line-height: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 1.5rem;
}

#footer a {
    font-family: Poppins;
    color: white;
    font-size: 14px;
    line-height: 18px;
}

#footer li {
    margin-bottom: 0.625rem;
}

#footer p {
    color: white;
    font-size: 14px;
    font-family: Poppins;
    line-height: 18px;
}

@media (min-width: 769px) {
    #home {
        justify-content: flex-end;
    }

    #home img {
        display: flex;
    }
    
    #home-cima {
        width: 54.79%;
    }

    #home-baixo {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    #home h2 {
        font-size: 48px;
    }

    #home button {
        margin-top: 2rem;
    }

    #features {
        justify-content: center;
        height: 28.4375rem;
    }

    #features h2 {
        font-size: 40px;
        line-height: 60px;
        margin-bottom: 2rem;
    }
    
    #container-features {
        width: 57.22%;
        height: auto;
        flex-direction: row;
    }

    #container-features div {
        width: 30.70%;
    }

    #services #services1 {
        height: 27.5625rem;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    #services #services2.services-container {
        height: 27.5625rem;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #services #services3.services-container {
        height: 27.5625rem;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    #services #services4.services-container {
        height: 27.5625rem;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #services .services-text {
        width: 28.47%;
        align-items: flex-start;
    }

    #services1 .services-img {
        content: url(./Images/services.svg);
    }

    #services2 .services-img {
        content: url(./Images/services2.svg);
    }

    #services3 .services-img {
        content: url(./Images/services3.svg);
    }

    #services4 .services-img {
        content: url(./Images/services4.svg);
    }

    #services h2 {
        text-align: start;
    }

    #services p {
        text-align: start;
    }

    #footer {
        height: 24.8125rem;
    }

    #container-footer {
        flex-direction: row;
        width: 51.56%;
        height: auto;
    }
    
    #footer .footer-lados {
        width: 45.60%;
    }
}